html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container-row{
  margin: auto;
}

.container-col{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.section {
  position: relative;
  height: 120vh;
  width: 100%;
}

.text-oren{
  color: #ffb727;
}

.text-abu{
  color: #8C8D8D
}

.text-abu2{
  color: #494949
}


@media (max-width: 1024px) {
  .bg-small{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 30px;
}
.topscore-center{
  text-align: center;
}
}

@media (min-width: 1024px) {
    .testi1 {
      margin-left: 170px;
    }
    .testi2 {
      margin-right: 170px;
    }
  }

.bg-50{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 30px;
}

/* hero-section */
.hero {
  background: linear-gradient(
      to bottom, 
      rgba(0,0,0,0) 0%, 
      rgba(0,0,0,0.3) 10%, 
      rgba(0,0,0,0.3) 90%,  
      rgba(0,0,0,1) 100%
  ),
  url("/images/main-bg.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
}


.rowCenter, .rowTop{ 
  display: flex;
  flex-direction: column-reverse;
}

.rowCenter{
  height: 30vh;
}

.rowTop{
  height: 20vh;
}

.btn-play{
  background-color: #FAB23F;
  color: #543F23;
  border-color: #FAB23F;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  
}

.btn-arrow{
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  font-size: 32px;
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

.btn-arrow-2{
  transition: 0.4s;
  font-size: 32px;
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

.btn-arrow:hover{
  color:#FAB23F;
  cursor: pointer;

}

 @-webkit-keyframes up-down {
    0% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }

  /* thegame-section */
  .the-game {
  background: linear-gradient(
      to bottom, 
      rgba(0,0,0,1) 0%, 
      rgba(0,0,0,0.3) 10%, 
      rgba(0,0,0,0.3) 90%, 
      rgba(0,0,0,1) 100%
  ),
    url("/images/the-games-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

/* feature-section */
  .feature {
  background: linear-gradient(
      to bottom, 
      rgba(0,0,0,1) 0%, 
      rgba(0,0,0,0.3) 10%, 
      rgba(0,0,0,0.3) 90%, 
      rgba(0,0,0,1) 100%
  ),
    url("/images/features.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  
}

.feature-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #82909c;
  position: relative;
}

.feature-item:before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -10px;
  top: 5px;
  background: #fff;
  border: 2px solid #82909c;
}

/* requirement-section */
  .requirement{
  background: linear-gradient(
      to bottom, 
      rgba(0,0,0,1) 0%, 
      rgba(0,0,0,0.3) 20%, 
      rgba(0,0,0,0.3) 80%, 
      rgba(0,0,0,1) 100%
  ),
    url("/images/requirements.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  
}
/* topscore-section */
  .top-score{
  background: linear-gradient(
      to bottom, 
      rgba(0,0,0,1) 0%, 
      rgba(0,0,0,0.3) 10%, 
      rgba(0,0,0,0.3) 90%, 
      rgba(0,0,0,1) 100%
  ),
    url("/images/the-games-bg.jpg");
  background-size: cover;
  height: 150vh;
  display: flex;
  flex-direction: column;
  
}

.testimoni {
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 15px;
  background-color: #1B1D1D;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

.avatar {  
  background-size: 50px;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 7px 2px 0px 0px #FAB23F;
  width: 50px;
  height: 50px;
  
}

.testi-header{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.profil1{
  background-image: url("/images/testimonials/testimonials-1.jpg");

}

.profil2{
  background-image: url("/images/testimonials/testimonials-2.jpg");

}

.profil3{
  background-image: url("/images/testimonials/testimonials-4.jpg");

}

.nama-testimoni {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 50px;
}

/* newsletter-section */
  .newsletter {
  background: linear-gradient(
      to bottom, 
      rgba(0,0,0,1) 0%, 
      rgba(0,0,0,0.3) 10%, 
      rgba(0,0,0,0.3) 90%, 
      rgba(0,0,0,1) 100%
  ),
    url("/images/newsletter.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  
}

.input-style{
  background-color: #1C1E1F;
  outline: none;
  border-color:#1C1E1F;
  margin-right: 10px;


}

/* Footer */
.social-icon-link {
  color: #fff;
  font-size: 24px;
}


.social-media-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright{
  border-top: 2px solid white;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px; 
}

.social-logo {
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.website-rights {
  color: #fff;
  margin-bottom: 16px;
  align-items: center;
}

@media screen and (max-width: 820px) {
  .social-media-wrap, .copyright {
    flex-direction: column;
  }
}