.login-section{
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  box-sizing: border-box;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.login-form{
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    padding: 15px;
    margin: auto;
}



.auth-button {
    color: #fff;
    width: 300px;
    text-align: center;
    border:1px solid rgba(0,0,0,0);
    border-radius: 5px;
    background: #23A6D5;
    }

.auth-button:hover {
    background-color: #E73C7E;
    border: 1px solid #E73C7E;
}

.input-login{
  margin-bottom: 10px;
  width: 300px;
  border-radius: 10px;
}


.text-pink{
  color: #E73C7E;
}

.text-kanan{
  text-align: end;
}

.radio-btn{
  margin-right: 10px;
}

.footer-login {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}